body {
    background-color: whitesmoke;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.card {
    margin-bottom: 20px;
}


.scrollable {
    max-height: 250px;
    overflow-y: auto;
}