{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center fw-bold">Student Registration</div>
            <div class="card-body">

                <form method="POST" action="{{ url_for('register_student') }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Degree</label>
                        <select name="degree" class="form-select" required>
                            <option value="" disabled selected>Select degree</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="BCA">BCA</option>
                            <option value="B.Sc">B.Sc</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Branch</label>
                        <input type="text" name="branch" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CGPA</label>
                        <input type="number" name="cgpa" class ="form-control" step  ="0.01" min="0" max="10" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Resume (PDF only) *</label>
                        <input type="file" name= "resume" class= "form-control" accept=".pdf" required>
                    </div>
                    <button type ="submit" classs ="btn btn-primary w-100">Register</button>
                </form>


                <hr>
                <p class="text-center">Already have account? <a href="{{ url_for('login') }}">Login</a></p>

            </div>
        </div>
    </div>
</div>

{% endblock %}